<!DOCTYPE html>
<html class="wf">
<head>
  <title>{{ title }} - FM3</title>
  {%- assets "js_all" -%}
  <script src="{{ ASSET_URL }}"></script>
  {%- endassets %}
  {%- assets "scss_style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets %}
  {%- assets "fonts" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets %}
</head>
<body>
{% include "header.html" %}
<div id="main"><main>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</main></div>
</body>
</html>
