<header>
  <nav><ul>
	<li><a href="/">{{_("Accueil")}}</a></li>
	<li><a href="/list">{{_("Sondages Public")}}</a></li>
	</ul></nav><div>	
	{% if cas.username==None %}
	<a href="/login"><img src="/static/res/img/document-decrypt.svg" alt="Se Connecter"></a>
	{% else %}
	<li>{{cas.username}}</li><a href="/logout"><img src="/static/res/img/document-encrypt.svg" alt="Se Connecter"></a>
	{% endif %}
</div>
{{username}}
	
</header>
