{% extends "default.html" %}

{% block content -%}
<h1>Bienvenue sur sondanyme.</h1>
<i>Non, vous n'aurez pas ma liberté de voter.</i>
<p>
<a href="/list">Accéder aux sondages publics ici.</a>
</p>
{%- endblock %}
