{% extends "default.html" %}

{% block content -%}
<h1>{{_("Poll list")}}</h1>

<ul>
{% for poll in polls -%}
  <li><a href="/poll/{{poll.unique_id.decode('ascii')}}">{{poll.title}}</a> {{_("by")}} {{poll.owner.username}}</li>
{% endfor -%}
</ul>
{%- endblock %}
