{% extends "default.html" %}

{% block content -%}
<h1>{{ poll.title }}</h1>
  <form method="post" action="/send">
<ol class="questionlist">
<input type="hidden" name="poll_id" value="{{poll.unique_id.decode('ascii')}}"/>
{%- for element in poll.elements|sort(attribute='position') %}
{% set question = element -%}
  <li>
    <h2>{{ question.title_content }}</h2>
    {% if question.text_content -%}
    {{ question.text_content | markdown -}}
    {%- endif %}
    <ul>
      {% if question.question_type == QuestionType.Checkbox %}
        {% for choice in question.choices|sort(attribute='position') -%}
        <li><label class="checkbox"><input type="checkbox" name="q{{ question.position }}" value="v{{ choice.index }}"><span></span> {{ choice.text_content | inlinemd }}</label></li>
        {% endfor %}
      {% elif question.question_type == QuestionType.Radio %}
        {% for choice in question.choices|sort(attribute='position') -%}
        <li><label class="radio"><input type="radio" name="q{{ question.position }}" value="v{{ choice.index }}"><span></span> {{ choice.text_content | inlinemd }}</label></li>
        {% endfor %}
      {% endif -%}
    </ul>
  </li>
{%- endfor %}
</ol>
<div style="text-align:right"><input type="submit" value="Envoyer"></form>
</div>
{%- endblock %}
