@import 'styleconfig';

.questionlist {
  &, &>li ol, &>li ul {
    padding: 0;
    list-style: none;
  }
  counter-reset: li;
  >li {
    position: relative;
    &::before {
      content: counter(li);
      counter-increment: li;
      color: rgba(0, 0, 0, .4);
      display: inline-block;
      width: 1.2em;
      margin-left: -1.2em;

      position: absolute;
      left: -.4em;
      text-align: right;
      top: .7em;
    }
  }
}
