$oldBrowsersSupport: true;

$accentColorDarker: #d47400;
$accentColorLighter: #e2cd00;
$accentColor: mix($accentColorDarker, $accentColorLighter);

$mainFullwidthBackground: false;

$fontsBodyNowf: 'Liberation Sans', 'DejaVu Sans', 'Bitstream Vera Sans', Arial, sans-serif;
$fontsBodyWf: 'Open Sans';
$fontsBodyNojs: $fontsBodyWf, $fontsBodyNowf;
$fontsHeadingNowf: $fontsBodyNowf;
$fontsHeadingWf: Neris;
$fontsHeadingNojs: $fontsHeadingWf, $fontsHeadingNowf;
$fontsCodeNowf: 'DejaVu Sans Mono', 'Source Code Pro', Monaco, 'Andale Mono', Consolas, 'Lucida Console', 'Courier New', Courier, monospace;
$fontsCodeWf: 'DejaVu Sans Mono';
$fontsCodeNojs: $fontsCodeWf, $fontsCodeNowf;

$headerShadowSize: .5em;
$headerHeight: 54px;
$headerItemBackgroundGradient: true;

$mainBackgroundColor: #FFF;
$mainTextColor: #111;
$mainPadding: 2em;

$inputsBorderColor: #AAA;
$inputsBorderColorRelative: rgba(0, 0, 0, .3);

$linkColor: darken($accentColorDarker, 20%);
$footnoteColor: lighten($accentColor, 20%);
$tableHeaderColor: lighten($accentColor, 50%);

$footerBackgroundColor: #DDD;
$footerTextColor: #777;
$footerTextShadowColor: #FFF;
$footerShadowSize: 2em;
$footerShadowColor: #777;
