@import 'styleconfig';

@mixin unstyled {
  color: inherit;
  text-decoration: none;
}
@mixin nomargin {
  margin: 0;
}
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}
@mixin prefix-moz-webkit($name, $value) {
  @if $oldBrowsersSupport {
    @each $vendor in ('-webkit-', '-moz-', '') {
      #{$vendor}#{$name}: #{$value};
    }
  } @else {
    #{$name}: #{$value};
  }
}
@function apply-color($fg, $bg) {
  $fa: alpha($fg);
  $ba: alpha($bg)*(1 - $fa);
  @return rgba(
    red($fg)*$fa+red($bg)*$ba,
    green($fg)*$fa+green($bg)*$ba,
    blue($fg)*$fa+blue($bg)*$ba,
    $fa+$ba);
}
@function luminance($col) {
  // CIE 1931 color space luminance
  @return percentage((red($col)/255 * 21.26 + green($col)/255 * 71.52 + blue($col)/255 * 7.22)/100);
}

@mixin compat-linear-gradient($dir, $from, $to) {
  background-color: mix($from, $to);
  background-image: -moz-linear-gradient($dir, $from, $to);
  background-image: -webkit-linear-gradient($dir, $from, $to);
  background-image: -o-linear-gradient($dir, $from, $to);
  background-image: linear-gradient($dir, $from, $to);
}

//////// Whole page ////////
html {
  background: $footerBackgroundColor;
  &.nowf {
    &, h1, h2, h3, h4, h5, h6, th {
      font-family: $fontsBodyNowf;
    }
    script, code {
      font-family: $fontsCodeNowf;
    }
  }
  &.wf {
    font-family: $fontsBodyWf;
    h1, h2, h3, h4, h5, h6, th {
      font-family: $fontsHeadingWf;
    }
    script, code {
      font-family: $fontsCodeWf;
    }
  }
  &.nojs.nowf {
    font-family: $fontsBodyNojs;
    h1, h2, h3, h4, h5, h6, th {
      font-family: $fontsHeadingNojs;
    }
    script, code {
      font-family: $fontsCodeNojs;
    }
  }
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 600;
}
pre {
  font-size: 1rem; // Fucking Firefox
}

//////// Header ////////
header {
  background: #222;
  color: #FFF;
  @if $oldBrowsersSupport {
    display: block; // Older browsers assuming inline
  }
  html.fixhdr & {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    position: fixed;
  }
  @include prefix-moz-webkit(box-shadow, 0 -#{$headerShadowSize} $headerShadowSize $headerShadowSize rgba(0, 0, 0, .5));
  z-index: 999;
  transition: height .2s linear;
  position: relative;

  &>img {
    vertical-align: top;
    width: $headerHeight;
    height: $headerHeight;
    @include compat-linear-gradient(to bottom right, #4c1a98, #801a8a);
    transition: height .2s linear, width .2s linear;
    overflow: hidden;  // Stop alt text from overflowing
    font-size: 48px;
  }
  img, nav, ul, li {
    display: inline-block;
  }
  nav, ul, li, li a {
    height: 100%;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li a[href], &>div {
    color: inherit;

    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: $headerHeight;
    line-height: $headerHeight/18*17;
    white-space: nowrap;
    border-bottom: $headerHeight/18 $accentColorDarker solid;
    padding: 0 1em;
    vertical-align: top;

    font-size: 1.3em;
    text-shadow: 0 0 .1em black;
    @include unstyled;
    transition: background .1s linear, box-shadow .1s linear;
    &:hover {
      @if ($headerItemBackgroundGradient) {
        box-shadow: 0 -$headerHeight/4 $headerHeight/4 -$headerHeight/4 $accentColorDarker inset,
                    0 -$headerHeight*2 $headerHeight -$headerHeight*2 $accentColorLighter inset;
      } @else {
        background: rgba(255, 255, 255, .3);
      }
    }
    img {
      width: 48px;
      height: 48px;
      padding-top: 2px;
    }
  }
  &>div {
    float: right;
    padding: 0;
  }
}

// As unfortunate as it is, IE still exists.
#warnheader {
  background: #FB0;
  background: linear-gradient(to bottom, #FC0, #FA0);
  color: #110;
  z-index: 1000;
  position: relative;
  div {
    padding: .7em;
  }
}

//////// Logo ////////
svg path.outline {
  stroke: #fff5ff;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 2s ease-out forwards;
}
@keyframes dash {
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 0;
    display: none;
  }
}
svg path.fill {
  opacity: 0;
  animation: fill .4s ease-out 1s forwards;
}
@keyframes fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//////// Content ////////
body {
  html.fixhdr & {
    padding-top: 4em;
  }
  margin: 0;
  background: $footerBackgroundColor;
}

#main {
  @if $mainFullwidthBackground {
    background: $mainBackgroundColor;
    box-shadow: 0 -#{$footerShadowSize} $footerShadowSize $footerShadowSize $footerShadowColor;
  }
  text-align: center;
}
main {
  color: $mainTextColor;
  display: inline-block;
  max-width: 60em;
  text-align: left; // initial not supported on old browsrs
  @if not $mainFullwidthBackground {
    background: $mainBackgroundColor;
    @include prefix-moz-webkit(box-shadow, 0 0 $footerShadowSize $footerShadowColor);
  }
  .content {
    margin: $mainPadding/2 $mainPadding;
    // padding: 0 $mainPadding $mainPadding/2;
  }
}
// @media (min-width: 60em) {
  main {
    width: 60em;
  }
// }
@media (max-width: 60em) {
  main {
    width: 100%;
  }
}

main .title {
  text-align: center;
  background-color: #AAA;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(255,255,255,.2) 1em, rgba(255,255,255,.2) 2em);
  box-shadow: 0 -6em 8em -8em black inset;
  &.img {
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 0 -2em 3em -1em black inset;
  }
  h1 {
    margin: 0;
    padding: .75em 0;
    font-size: 3em;
    color: #FFF;
    line-height: 1.4em;
    text-shadow: 0 0 .25em black, 0 0 .75em black;
  }
}

@mixin postmetatext {
  color: #444;
  text-shadow: 0.05em 0.05em 0 #FFF;
}
.postmetatext {
  @include postmetatext;
  float: right;
}
main .metabar {
  font-size: 80%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.05));
  padding: .2em 1em;
  @include postmetatext;
  ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .active {
    font-weight: bold;
  }
}

//////// Text content ////////

figure.highlight, pre.highlight {
  &, >pre {
    margin: 0;
  }
  padding: .75em;
  @include prefix-moz-webkit(border-radius, .3em);
  box-shadow: 0 0 0.5em black inset;
}

figure.highlight, div[class*="highlighter-"] {
  margin: 1em 0;
}

code {
  font-size: 75%;
  .lineno {
    border-right: .05em solid rgba(255, 255, 255, .4);
    margin: 0 .5em 0 0;
    padding-right: .3em;
  }
}
pre>code>table {
  &, tr, td, td>pre {
    font-size: initial;
    margin: 0;
    padding: 0;
  }
}

p code {
  border: .05em solid #BBB;
  @include prefix-moz-webkit(border-radius, .2em);
  padding: .1em .2em;
  background: #F8F8F8;
  box-shadow: 0 0 .2em #CCC inset;
}

script[type^='math/tex'] {
  display: inline;
  opacity: .6;
  font-size: 80%;
  &[type*='mode=display'] {
    display: block;
  }
}

hr {
  border: 0;
  height: .1em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

blockquote {
  border-left: .2em solid #CCC;
  margin-left: 2.3em;
  padding-left: .7em;
  position: relative;
}

blockquote::before {
  content: "‟";
  color: #CCC;
  position: absolute;
  font-size: 4em;
  left: -.6em;
  top: -.3em;
}

.services-not-used img {
  width: 64px;
  height: 64px;
  opacity: .3;
}

.content>table {
  border: .05em solid #444;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .3);
  border-collapse: collapse;
  th, td {
    border: .05em solid #666;
    padding: .2em .4em;
  }
  thead {
    background: $tableHeaderColor;
  }
  tr:nth-child(2n) {
    background: rgba(0, 0, 0, .05);
  }
}

dl {
  border: .2em double rgba(0, 0, 0, .2);
  padding: .5em;
}
dt {
  font-weight: bold;
}

a[href] {
  color: $linkColor;
  &.footnote {
    color: $footnoteColor;
    text-decoration: none;
  }
}

//////// UI elements ////////
input {
  outline: 0;
  border: .13em $inputsBorderColor solid;
  border-radius: .2em;
  background: $mainBackgroundColor;
  color: $mainTextColor;
  font-family: inherit;
  font-size: 80%;
  padding: .125em .4em;
  box-shadow: 0 0 .2em 0 rgba(0,0,0,.2);
  margin: 0 .2em;
  transition: box-shadow linear .2s;
  &:hover {
    box-shadow: 0 0 .2em 0 rgba(0,0,0,.2), 0 0 .2em 0 $accentColor inset;
  }
  &:active, &:focus {
    box-shadow: 0 0 .2em 0 $accentColor;
  }
}
input::-moz-focus-inner { 
  border: 0; 
}

input[type="radio"], input[type="checkbox"] {
   display: none;
}
$radiocheckSize: 1em;
$radiocheckBorder: .13em;
$checkboxBorderRadius: .2em;
label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.7em;
}

input[type="radio"] + span, input[type="checkbox"] + span {
  position: absolute;
  left: 0;
  bottom: .1em;
  display: block;

  $size: $radiocheckSize;
  width: $size;
  height: $size;
  border: $radiocheckBorder $inputsBorderColor solid;

  box-shadow: 0 0 .2em 0 rgba(0, 0, 0, .2);

  &:before {
    content: " ";
    display: block;
    width: $size;
    height: $size;
    position: relative;
    background: linear-gradient(to bottom, $accentColorLighter, $accentColor);
  }
}

input[type="radio"] + span {
  &:before {
    @include prefix-moz-webkit(border-radius, $radiocheckSize);
    transform: scale(0);
    transition: transform linear .1s;
  }
  @include prefix-moz-webkit(border-radius, $radiocheckSize);
}
input[type="radio"]:checked + span:before {
  transform: scale(0.8);
}

input[type="checkbox"] + span {
  &:before {
    @include prefix-moz-webkit(border-radius, $checkboxBorderRadius);
    transform: scale(0);
    transition: transform linear .1s;
  }
  @include prefix-moz-webkit(border-radius, $checkboxBorderRadius);
}
input[type="checkbox"]:checked + span:before {
  transform: scale(0.8);
}

@mixin button-color($name, $color) {
  &.#{$name} {
    box-shadow: 0 .1em .3em .1em rgba($color, .2), 0 0 .1em 0 rgba($color, .2) inset;
    border-color: apply-color($inputsBorderColorRelative, $color);
    background-color: $color;
    @if luminance($color) <= 55% {
      color: invert($mainTextColor);
    }
    @if saturation($color) >= 40% {
      @if luminance($color) <= 55% {
        text-shadow: 0 0 .1em $mainTextColor, 0 0 .2em $mainTextColor;
      } @else {
        text-shadow: 0 0 .1em invert($mainTextColor), 0 0 .2em invert($mainTextColor);
      }
    }
    &:hover {
      background-color: lighten($color, 15%);
    }
    &:active {
      background-color: darken($color, 20%);
    }
  }
}
button, input[type="submit"], input[type="reset"] {
  outline: 0;
  font-family: inherit;
  //font-size: 80%;
  border: .2em $inputsBorderColor solid;
  @include prefix-moz-webkit(border-radius, .2em);
  box-shadow: 0 .1em .3em 0 rgba(0, 0, 0, .2), 0 0 .1em 0 rgba(0, 0, 0, .2) inset;
  // background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
  background-color: rgba(245, 245, 245, 1);
  color: $mainTextColor;
  padding: .3em .6em;
  margin: .2em;
  cursor: pointer;
  transition: background-color linear .1s;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  &:active {
    background-color: rgba(210, 210, 210, 1);
  }
  @include button-color("red", #E21700);
  @include button-color("yellow", #EAE33C);
  @include button-color("green", #59E200);
  @include button-color("cyan", #00CEE2);
  @include button-color("blue", #3C40EA);
  @include button-color("purple", #D511BF);
}


//////// Footer ////////
footer {
  @if $oldBrowsersSupport {
    display: block; // Older browsers assuming inline
  }
  width: 100%;
  color: $footerTextColor;
  text-shadow: .05em .05em 0 $footerTextShadowColor;
  text-align: center;
  font-size: 75%;
  margin: 2.5em 0 1.5em;
  p {
    margin: 0 0 .7em;
  }
  a[href] {
    &, &:visited, &:active {
      color: adjust_color($footerTextColor, $lightness: -10%);
    }
  }
}

.cclicblock {
  display: inline-block;
  text-shadow: none;
  @include unstyled;
  span {
    border: .05em solid lighten($footerTextColor, 10%);
  }
  span:first-child {
    color: $footerBackgroundColor;
    background-color: lighten($footerTextColor, 10%);
    padding: 0 .3em;
    border-right: none;
    @include prefix-moz-webkit(border-radius, .3em 0 0 .3em);
  }
  span:last-child {
    color: $footerTextColor;
    padding-right: .3em;
    border-left: none;
    @include prefix-moz-webkit(border-radius, 0 .3em .3em 0);
  }
}
