@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono.woff2') format('woff2'),
       url('DejaVuSansMono.woff') format('woff'),
       url('DejaVuSansMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-Oblique.woff2') format('woff2'),
       url('DejaVuSansMono-Oblique.woff') format('woff'),
       url('DejaVuSansMono-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-Bold.woff2') format('woff2'),
       url('DejaVuSansMono-Bold.woff') format('woff'),
       url('DejaVuSansMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('DejaVuSansMono-BoldOblique.woff2') format('woff2'),
       url('DejaVuSansMono-BoldOblique.woff') format('woff'),
       url('DejaVuSansMono-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
