@font-face {
  font-family: 'Neris';
  src: url('Neris-BlackItalic.woff2') format('woff2'),
       url('Neris-BlackItalic.woff') format('woff'),
       url('Neris-BlackItalic.otf') format('opentype'),
       url('Neris-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-Black.woff2') format('woff2'),
       url('Neris-Black.woff') format('woff'),
       url('Neris-Black.otf') format('opentype'),
       url('Neris-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-BoldItalic.woff2') format('woff2'),
       url('Neris-BoldItalic.woff') format('woff'),
       url('Neris-BoldItalic.otf') format('opentype'),
       url('Neris-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-LightItalic.woff2') format('woff2'),
       url('Neris-LightItalic.woff') format('woff'),
       url('Neris-LightItalic.otf') format('opentype'),
       url('Neris-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-Light.woff2') format('woff2'),
       url('Neris-Light.woff') format('woff'),
       url('Neris-Light.otf') format('opentype'),
       url('Neris-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-SemiBoldItalic.woff2') format('woff2'),
       url('Neris-SemiBoldItalic.woff') format('woff'),
       url('Neris-SemiBoldItalic.otf') format('opentype'),
       url('Neris-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-SemiBold.woff2') format('woff2'),
       url('Neris-SemiBold.woff') format('woff'),
       url('Neris-SemiBold.otf') format('opentype'),
       url('Neris-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-ThinItalic.woff2') format('woff2'),
       url('Neris-ThinItalic.woff') format('woff'),
       url('Neris-ThinItalic.otf') format('opentype'),
       url('Neris-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Neris';
  src: url('Neris-Thin.woff2') format('woff2'),
       url('Neris-Thin.woff') format('woff'),
       url('Neris-Thin.otf') format('opentype'),
       url('Neris-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
} 
